<div
  class="grid w-full max-w-4xl grid-cols-1 gap-8 md:grid-flow-col-dense md:grid-cols-2 md:items-center md:*:data-[size=default]:col-start-2 md:*:data-[size=default]:row-span-2 md:*:data-[size=lg]:col-start-1 md:*:data-[size=lg]:row-span-3"
>
  <slot />
</div>
